[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
websockets = "*"
pyqt5 = "*"
pyqt5-tools = "*"
wxpython = "*"

[requires]
python_version = "3.11"
